.headerParentDiv {
  padding: 10px;
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.headerChildDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeSearch {
  width: 16em;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: white;
}

.placeSearch ::selection {
  border-color: #23e5db;
  outline-color: #23e5db;
}

.placeSearch input {
  border-color: transparent;
  outline-color: transparent;
}

.productSearch {
  width: 35em;
  height: 48px;
  border: 2px solid #002f34;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productSearch .input {
  width: 100%;
  height: 100%;
  display: flex;
}

.productSearch .input input {
  border-color: transparent;
  outline-color: transparent;
  width: 100%;
  align-items: center;
}

.productSearch .searchAction {
  min-width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: #002f34;
  border-radius: 0 4px 4px 0;
}

.productSearch .searchAction svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

.language {
  height: 48px;
  display: flex;
  align-items: center;
}

.language span {
  /* justify-content: space-between;
  align-items: center; */
  font-size: 15px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}



.span {
  text-decoration: none;
  font-size: 16px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}

.loginPage hr {
  margin: 0;
  background-color: black;
  height: 2px;
  margin-right: 160px;
}

.loginPage a{
  text-decoration: none;
  /* margin-right: 160px; */
}

.sellMenu {
  position: relative;
  cursor: pointer;
}

.sellMenu .all {
  fill: white;
}

.sellMenu .top {
  fill: #23e5db;
}

.sellMenu .left {
  fill: #ffce32;
}

.sellMenu .right {
  fill: #3a77ff;
}
.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}

/* .sellMenu .sellMenuContent svg {
  align-items: center;
} */
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch,
  .sellMenu {
    display: none;
  }
}
.list1{
  border: none;
  background-color: none;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
